@{
    // Check if partial views is requested, if so, apply a layout template to it
    Layout = Request.AppRelativeCurrentExecutionFilePath.StartsWith("~/views/") ? null : "~/Views/_Layout.cshtml";

    // The 'templateUrl' property is set in Routing/DefaultRouteHandler.cs
    if (Request.RequestContext.RouteData.DataTokens["templateUrl"] == "/views/404")
    {
        Response.StatusCode = 404;
    }
}

<link href="~/Views/_PageStart.css" rel="stylesheet">

<!--- subnav -->
@*<div id="subnav" class="navbar navbar-default">
        <div class="col-md-12">
            <div class="navbar-header">

                <a data-toggle="dropdown" class="navbar-btn btn btn-default btn-plus dropdown-toggle" style="margin-left:15px;" href="#"><i style="color:#dd1111;" class="glyphicon glyphicon-home"></i> Home <small><i class="glyphicon glyphicon-chevron-down"></i></small></a>
                <ul class="nav dropdown-menu">
                    <li><a href="#"><i style="color:#1111dd;" class="glyphicon glyphicon-user"></i> Profile</a></li>
                    <li><a href="#"><i style="color:#0000aa;" class="glyphicon glyphicon-dashboard"></i> Leaderboard</a></li>
                    <li><a href="#"><i style="color:#11dd11;" class="glyphicon glyphicon-inbox"></i> What´s New?</a></li>
                    <li class="nav-divider"></li>
                    <li><a href="#"><i style="color:#dd1111;" class="glyphicon glyphicon-cog"></i> Settings</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-plus"></i> More..</a></li>
                </ul>


                <button data-target="#navbar-collapse2" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div id="navbar-collapse2" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Posts</a></li>
                    <li><a data-toggle="modal" role="button" href="#loginModal">Login</a></li>
                    <li><a data-toggle="modal" role="button" href="#aboutModal">About</a></li>
                </ul>
            </div>
        </div>
    </div>*@