@{
    PageData["title"] = "Nostradamus Soccer | YOU READY?";
}
<script type="text/javascript" src="~/Views/Index.js"></script>
<link href="~/Views/Index.css" rel="stylesheet">

<div class="container">
    <h1><strong style="padding-left: 10em">Nostradamus | Soccer</strong></h1>

    <h1><strong><pre>Description | About: PENDING</pre></strong></h1>
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-9 bhoechie-tab-container">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
                <div class="list-group">
                    <a href="#" class="list-group-item active text-center">
                        <h4 class="glyphicon glyphicon-user"></h4><br />Login
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon glyphicon-pencil"></h4><br />Register
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-calendar"></h4><br />Upcoming Games
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-cog"></h4><br />Support
                    </a>

                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-th"></h4><br />Multi-Platform
                    </a>

                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                <!-- flight section -->
                <div class="bhoechie-tab-content active">
                    <center>
                        <h1 class="glyphicon glyphicon-user" style="font-size:14em;color:#55518a"></h1>
                        <h3 style="margin-top: 0;color:#55518a">Sign in</h3>
                        <div class="">
                            <a class="btn btn-primary btn-lg btn3d" ng-click="goToLogin()"><span class="glyphicon glyphicon-cloud"></span>Login</a>
                        </div>
                    </center>
                </div>
                <!-- train section -->
                <div class="bhoechie-tab-content">
                    <center>
                        <h1 class="glyphicon glyphicon-pencil" style="font-size:12em;color:#55518a"></h1>
                        <h3 style="margin-top: 0;color:#55518a">Join Us</h3>
                        <a class="btn btn-theme btn-sm btn-min-block" href="./register">Register</a>

                    </center>
                </div>

                <!-- Calendar search -->
                <div class="bhoechie-tab-content">
                    <center>
                        <h1 class="glyphicon glyphicon-calendar" style="font-size:12em;color:#55518a"></h1>
                        <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                        <h3 style="margin-top: 0;color:#55518a">Lurk the Upcoming Matches</h3>
                    </center>
                </div>
                <div class="bhoechie-tab-content">
                    <center>
                        <h1 class="glyphicon glyphicon-cog" style="font-size:12em;color:#55518a"></h1>
                        <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                        <h3 style="margin-top: 0;color:#55518a">Support & Service</h3>
                    </center>
                </div>
                <div class="bhoechie-tab-content">
                    <center>
                        <h1 class="glyphicon glyphicon-th" style="font-size:12em;color:#55518a"></h1>
                        <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                        <h3 style="margin-top: 0;color:#55518a">Mobile Friendly App</h3>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>



