<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<nav class="navbar navbar-inverse container" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Nostr. Soccer</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Options <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li align="center" class="well">
                            <div><img class="img-responsive" style="padding:2%;" src="http://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/twDq00QDud4/s120-c/photo.jpg" /><a class="change" href="">Change Picture</a></div>
                            <a href="#" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-lock"></span> Security</a>
                            <a href="#" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img height="200"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwRcWliRD42S965DoI8E7mWxeHc93-fusErsuj0eLM8Rwt2Oxg" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            Chuck Norris
                        </h4>
                        <small>
                            <cite title="San Francisco, USA">
                                San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                                </i>
                            </cite>
                        </small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>  chuck@norris.com
                            <br />
                            <i class="glyphicon glyphicon-globe"></i><a href="http://www.chucknorris.com">  www.chucknorris.com</a>
                            <br />
                            <i class="glyphicon glyphicon-gift"></i>  Febraury 31, 1910
                        </p>
                        <!-- Split button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">
                                Social
                            </button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span><span class="sr-only">Social</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Twitter</a></li>
                                <li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a></li>
                                <li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Github</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row clearfix">
 
    <div class="col-md-12 column">
        <div>
            <div class="panel-body">

                <table class="table">

                    <thead>
                        <tr>
                            <th><h2><strong><pre style="color: green; font-size: 20px;">Subscribed Leagues</pre></strong></h2>

                                <a href="" ng-click="ordenarPor('nombre')">
                                    Team Name/s
                                </a>
                                <span class="caret" style="cursor: pointer" ng-click="ordenarPor('-nombre')"></span>
                            </th>
                            <th>Country</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Total Teams</th>
                            <th style="width: 50px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="liga in ligas | orderBy:OrdenSeleccionado | filter:buscar">
                            <td><a class="btn-link" href="/league/{{liga.id}}">{{liga.nombre}}</a></td>
                            <td>{{liga.pais | uppercase}}</td>
                            <td>{{liga.inicio | date:'fullDate'}}</td>
                            <td>{{liga.fin | date:'fullDate'}} </td>
                            <td>{{liga.cant_equipos}}</td>
                            <td>
                                <a href="" ng-click="removeLeague(liga.nombre)"><i class="glyphicon glyphicon-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="row clearfix">
    <h2><strong><pre style="color: red; font-size: 20px;">Unsubscribed Leagues</pre></strong></h2>
    <div class="col-md-12 column">
        <div>
            <div class="panel-body">

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                               
                                <a href="" ng-click="ordenarPor('nombre')">
                                    Team Name/s
                                </a>
                                <span class="caret" style="cursor: pointer" ng-click="ordenarPor('-nombre')"></span>
                            </th>
                            <th>Country</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Total Teams</th>
                            <th style="width: 50px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="unsub in unsubsciptions | orderBy:OrdenSeleccionado | filter:buscar">
                            <td><a class="btn-link" href="/league/{{liga.id}}">{{unsub.nombre}}</a></td>
                            <td>{{unsub.pais | uppercase}}</td>
                            <td>{{unsub.inicio | date:'fullDate'}}</td>
                            <td>{{unsub.fin | date:'fullDate'}} </td>
                            <td>{{unsub.cant_equipos}}</td>
                            <td>
                                <a href="" ng-click="addLeague(unsub.nombre)"><i class="glyphicon glyphicon-plus"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div>
    <h2><strong><pre style="color: gold; font-size: 20px;">Upcoming Games</pre></strong></h2>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
       
                                <th>ID League</th>
                                <th>Match</th>
                                <th>Date</th>
                                <th>Score</th>
                                <th style="width: 50px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="filter in filteredMatches">
                                <td>{{filter.id_liga}}</td>
                                <td>{{filter.nombre}}</td>
                                <td>{{filter.fecha}}</td>
                                <td>{{filter.resultado1}}-{{filter.resultado2}}</td>
                                <td>
                                    <a href="" ng-click="activate(filter.nombre)"><i class="glyphicon glyphicon-pencil"></i></a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="isEditing">
    <form class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" ng-submit="FinishEditing()">
        <h2 class="text-center">Editar Marcador</h2>
        <div class="form-box">
            <div class="well form-inline">
                <input ng-model="NewScore1" type="number" class="input-small" placeholder="0" required /> vs <input ng-model="NewScore2" type="number" class="input-small" placeholder="0" required />
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Guardar</button>
                <button class="btn btn-primary btn-block" type="button" ng-click="deactivate()">Cancelar</button>
            </div>
        </div>
    </form>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <br /><br />
            <form class="form-horizontal">
                <fieldset>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="body">Body :</label>
                        <div class="col-md-8">
                            <input id="body" name="body" type="text" placeholder="Message Body" class="form-control input-md">

                        </div>
                    </div>

                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="message">Message :</label>
                        <div class="col-md-8">
                            <textarea class="form-control" id="message" name="message"></textarea>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="send"></label>
                        <div class="col-md-8">
                            <button id="send" name="send" class="btn btn-primary">Send</button>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>
    </div>
</div>